{% extends "base.html" %}

<!-- 
    Author: Housemate
    The page displays the result of the search/listing for a specific house
-->

{% block main_content %}
<!doctype html>
<html>
<section class="listing">
    <h1 class="title"> {{ listingTitle }} {{ (hId) }} listed by {{ username }}</h1>
    <p> Located in {{ city }}, {{ state }}. Very close to {{ nearbySchools }}.</p>
</section>

<section class="description">
    <p> 
        {{ description }}
    </p>
    <p>
        There are {{ bedroomNum }} rooms available ({{ sqrft }} square feet) with {{ bathroomNum }} bathrooms. 
        You will be living with {{ roommatesNum }} other people.
    </p>
    <p>
        Available from {{ openDate }} until {{ closeDate }}. ${{ price }} monthly.
    </p>
    <p>
        <!-- need to implement conctact info-->
        If interested, contact through email or phone.
    </p>
</section>

</html>
{% endblock %}